@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100..900&display=swap');



body{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #ECECEC;
  font-family: "Roboto Slab", serif;
  font-family: "Poppins", sans-serif;
}
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
input, button, textarea, select {
  outline: none;
}
a:hover{
  text-decoration: none;
}
a,span {
  display: inline-block;
  text-decoration: none;
}
ul,li{
  margin:0;
  padding:0;
  list-style: none;
}

.container {
  max-width: 650px;
}

/* Start SH Header Area Css */

.sh-crypto-header-area {
  background-color: #FFFFFF;
  padding: 15px 0;
  border: 5px solid #ECECEC;
  border-bottom: none;
}

.sh-crypto-header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* .sh-crypto-header-login-button {
  width: 110px;
  height: 110px;
  border: 12px solid #DEDFDF;
  border-radius: 50%;
} */
.sh-crypto-header-login-button a {
  background: url('../images/btn-bg.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  transition: .3s;
}

.sh-crypto-header-crypto-logo a {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-size: 35px;
  color: #2FA480;
  text-transform: inherit;
}
.sh-crypto-header-tether-logo img {
  height: 60px;
  width: auto;
}

.sh-crypto-header-text h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-size: 25px;
  color: #00a9dc;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.sh-crypto-header-text h2 span {
  color: #50AF93;
}
.sh-crypto-header-text h2 span img {
  height: 35px;
  width: auto;
  margin-top: -5px;
}
/* End SH Header Area Css */

/* Start SH Buy Now Area Css */

.sh-single-buy-now-content {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  border-bottom: 10px solid rgb(255, 255, 255);
}
.sh-single-buy-now-content:first-child {
  border-top: none;
}
.sh-single-buy-now-content:last-child {
  border-bottom: none;
}
.sh-single-buy-now-left-content {
  flex: 0 0 25%;
  padding: 25px 0;
  border-right: 10px solid #FFFFFF;
}
.sh-single-buy-now-right-content {
  padding-left: 5%;
  flex: 0 0 75%;
}

.sh-single-buy-now-image-content img {
  width: 80px;
  height: auto;
  margin: 0 auto;
  display: block;
}
.sh-single-buy-now-left-content h3 {
  font-weight: 700;
  font-size: 15px;
  color: #000000;
  text-transform: uppercase;
  line-height: normal;
  font-style: italic;
  margin-top: 0;
  text-align: center;
}
.sh-single-buy-now-right-button {
  text-align: center;
}
.sh-single-buy-now-right-button a {
  font-weight: 600;
  font-size: 18px;
  color: #09A451;
  text-transform: capitalize;
  line-height: normal;
  background: url('../images/btn.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 25px 85px 25px 35px;
  margin-left: 0;
  transition: .3s;
}
.sh-single-buy-now-right-button a:hover {
  color: #247FCA;
}
.sh-single-buy-now-right-text p {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 8px;
  color: #000000;
  text-align: center;
}
.sh-single-buy-now-right-text p a {
  color: #000000;
  line-height: 1.2;
  border-bottom: 2px solid #000000;
  transition: .3s;
}
.sh-single-buy-now-right-text p a:hover {
  color: #00a9dc;
  border-bottom: 2px solid #00a9dc;
}


/* End SH Buy Now Area Css */

/* Start SH Footer Area Css */
.sh-footer-area {
  background: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 30px;
}
.sh-footer-top-content {
  display: flex;
  justify-content: center;
  position: relative;
}
.sh-footer-top-left-top {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sh-footer-top-left-method h2, .sh-footer-top-left-method ul li a {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  text-transform: inherit;
  line-height: normal;
  margin-bottom: 15px;
  transition: .3s;
  position: relative;
  z-index: 1;
}
.sh-footer-top-left-method ul {
  display: flex;
  align-items: center;
}
.sh-footer-top-left-method ul li a {
  margin-right: 5px;
  margin-bottom: 0;
  
}
.sh-footer-top-left-method ul li a:hover {
  color: #247FCA;
}
.sh-footer-top-left-payment-method {
  display: flex;
  align-items: center;
  border: 2px solid #000000;
  padding: 8px;
  box-sizing: border-box;
}
.sh-footer-top-left-payment-method img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}
.sh-footer-top-right-contact-btn a {
  background: url('../images/btn-bg.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
  text-transform: uppercase;
  position: relative;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .sh-footer-top-right-contact-btn a::after {
  content: '';
  position: absolute;
  background: rgba(0,0,0,.05);
  width: 100%;
  height: 55%;
  border-radius: 30px 30px 0 0;
  top: 80px;
  left: 0;
  border: 1px solid rgba(0,0,0,.07);
}
.sh-footer-top-right-contact-btn a::before {
  content: '';
  position: absolute;
  background: rgba(0,0,0,.08);
  width: 120%;
  height: 12%;
  border-radius: 50px;
  top: 75px;
  left: -10%;
} */

.sh-footer-bottom-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.sh-footer-bottom-content img:first-child {
  padding-left: 125px;
}
.sh-footer-top-right-method {
  position: absolute;
  right: 0;
}
.sh-footer-bottom-content img {
  height: 35px;
  width: auto;
}
.sh-footer-bottom-content ul {
  display: flex;
  align-items: center;
}
.sh-footer-bottom-content ul li a {
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  font-style: italic;
  border-bottom: 1px solid #000000;
  margin-right: 10px;
  line-height: 1.2;
}
.sh-footer-bottom-content ul li a:hover {
  color: #247FCA;
  border-bottom: 1px solid #247FCA;
}
.sh-footer-bottom-content h2 {
  font-weight: 600;
  font-size: 25px;
  color: #03A650;
}

/* End SH Footer Area Css */
